@{
Layout = "/Views/Shared/_Layout_cs.cshtml";
ViewBag.ShowMenu = ViewBag.ShowMenu ?? true;
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4 class="section-heading">@ViewData["MainTitle"]:</h4>
                <h5>@ViewData["Title"]</h5>
                <hr class="primary ml-0">




                @if (ViewBag.ShowMenu)
                {
                    @await Html.PartialAsync("_Nav")
                }
            </div>
            <div class="col-md-6">
                @RenderBody()
            </div>

        </div>

    </div>
</section>
@section HeadScripts {
@RenderSection("HeadScripts", required: false)
}

@section Scripts {
@RenderSection("Scripts", required: false)
}
